    * {
        box-sizing: border-box;
    }
    
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 20px;
    }
    
    .theatre-container {
        margin-top: 40px;
    }
    
    .theatre-container select {
        background-color: #9FE6A0;
        font-size: 18px;
        margin-left: 5px;
        padding: 5px;
    }
    
    .text {
        background-color: #9FE6A0;
    }
    
    .text span {
        color: #4AA96C;
    }
    
    .seat-container {
        margin-top: 20px;
    }
    
    .row {
        display: flex;
    }
    
    .seat {
        background-color: #564A4A;
        margin: 5px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        height: 30px;
        width: 30px;
    }
    
    .selected {
        background-color: #4AA96C;
    }
    
    .occupied {
        background-color: #F55C47;
    }
    
    .seat:nth-of-type(2) {
        margin-right: 30px;
    }
    
    .seat:nth-last-child(2) {
        margin-left: 30px;
    }
    
    .legend {
        display: flex;
        gap: 40px;
        padding: 0px 40px;
    }
    
    .legend li {
        display: flex;
        align-items: center;
    }